<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>  
        <param-name>primefaces.THEME</param-name>  
        <param-value>bootstrap</param-value>  
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/faces/welcome.xhtml</location>
    </error-page>
    
    <servlet>
        <servlet-name>viewFileContent</servlet-name>
        <servlet-class>main.viewFileContent</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>main</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/main/*</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>viewFileContent</servlet-name>
        <url-pattern>/viewFileContent</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>faces/welcome.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>NotAllowed</web-resource-name>
            <url-pattern>/faces/admin/*</url-pattern>
            <url-pattern>/faces/checkin/*</url-pattern>
            <url-pattern>/faces/emergency/*</url-pattern>
            <url-pattern>/faces/inpatient/*</url-pattern>
            <url-pattern>/faces/inventory/*</url-pattern>
            <url-pattern>/faces/leftMenu/*</url-pattern>
            <url-pattern>/faces/nursing_station/*</url-pattern>
            <url-pattern>/faces/operation/*</url-pattern>
            <url-pattern>/faces/order/*</url-pattern>
            <url-pattern>/faces/payment/*</url-pattern>
            <url-pattern>/faces/prescription/*</url-pattern>
            <url-pattern>/faces/treatment/*</url-pattern>
            <url-pattern>/faces/userInfo/*</url-pattern>
            <url-pattern>/faces/patientInfo/medical_history_patient.xhtml</url-pattern>
            <!--<url-pattern>/faces/home.xhtml</url-pattern>-->
            <!--<url-pattern>/faces/index.xhtml</url-pattern>-->
        </web-resource-collection>
        <auth-constraint />
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <error-page>
        <error-code>403</error-code>
        <location>/faces/welcome.xhtml</location>
        
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/welcome.xhtml</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/faces/welcome.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/welcome.xhtml</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/welcome.xhtml</location>
    </error-page>
    
<!--    <security-constraint>
        <display-name>Restrict direct access to XHTML files</display-name>
        <web-resource-collection>
            <web-resource-name>XHTML files</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
        </web-resource-collection>
        
    </security-constraint>-->
</web-app>
